#content {
  width: 800px;
  margin: 50px auto;
  position: relative;
  z-index: 5;
}

#content .container {
  flex-direction: column;
  align-items: flex-start;
}

.password_box {
  width: 748px;
  margin: 0 auto;
  background-color: #fafafa;
  border: 0.5px solid #ececec;
  padding: 50px;
  margin-bottom: 30px;
}

.exp1 {
  font-size: 21px;
  font-weight: bolder;
  margin-bottom: 5px;
}

.exp2 {
  font-size: 16px;
  margin-bottom: 35px;
  color: #656566;
}

.change_password_input {
  width: 80%;
}

.password_input_div,
.check_password_input_div {
  width: 100%;
  display: flex;
}

.password_input_div {
  margin-bottom: 8px;
}

.password_input {
  width: 75%;
  outline: none;
  padding: 10px;
  font-size: 1rem;
  font-weight: 300;
  border: 1px solid #bac8ff;
  transition: 0.1s border-color;
  background: white !important;
}
.password_input:focus {
  border-color: #5c7cfa;
}

.form_label {
  font-size: 15px;
  width: 20%;
  margin-right: 5px;
  display: flex;
  align-items: center;
}

#change_password_form {
  display: flex;
  margin-bottom: 50px;
}

#change_password_button {
  width: 20%;
  outline: none;
  font-size: 1.2rem;
  font-weight: 500;
  border: 1.5px solid #5c7cfa;
  background: white;
  color: #5c7cfa;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s all;
  display: flex;
  justify-content: center;
  align-items: center;
}

#change_password_button:hover {
  background: #5c7cfa;
  color: white;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.error_message {
  text-align: center;
  color: #f03e3e;
}

@media (max-width: 650px) {
  #content {
    width: 100%;
  }

  #content .container {
    padding: 0 20px;
  }

  .password_box {
    width: 100%;
    padding: 30px;
  }

  .exp1 {
    font-size: 1.2rem;
  }

  .exp2 {
    font-size: 1rem;
  }

  #change_password_form {
    display: flex;
    flex-direction: column;
  }

  .change_password_input {
    width: 100%;
  }

  .password_input_div,
  .check_password_input_div {
    flex-direction: column;
  }

  .password_input {
    width: 100%;
  }

  .form_label {
    width: 100%;
    margin-right: 0;
    margin-bottom: 3px;
    font-size: 0.9rem;
  }

  #change_password_button {
    width: 100%;
    font-size: 1rem;
    margin-top: 20px;
    padding: 7px 0;
  }
}
