{% extends 'core/layout.html' %}

{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'helpline/css/report_reoffer.css' %}">
{% endblock %}

{% block content %}
  <div id="content">
    <div class="container">
      <form method="POST" id="declare_form" style="width: 100%">
        {% csrf_token %}
        <div id="step_4" class="process_content">
          <div class="step_title">
            <h1>변호사 선택</h1>
            <div class="border"></div>
          </div>

          <div class="error"></div>

          <div class="lawyer_list">
            <div class="lawyer_search">
              <input type="text" name="search_lawyer" placeholder="변호사 또는 전문분야 입력">
              <button type="button" onclick="changeLawyerPage('initial')">검색</button>
            </div>
            <div class="lawyer_search_button">
              <div onclick="changeLawyerPage('minus')" class="lawyer_search_button_minus">◀</div>
              <div onclick="changeLawyerPage('plus')" class="lawyer_search_button_plus">▶</div>
            </div>
            <div id="lawyer_list">
              {% for lawyer in lawyers %}
              <div class="lawyer_item" id="{{ lawyer.id }}">
                <label for="lawyer_{{ lawyer.id }}">
                  <div class="lawyer_detail">
                    <div class="lawyer_profile">
                      <img src="{{ lawyer.image.url }}" />
                    </div>
                    <div>
                      <h1>{{ lawyer.name }} 변호사</h1>
                      <p>{{ lawyer.introduce }}</p>
                      <div class="lawyer_fields">
                        {% for specialty in lawyer.speciality.all %}
                          <div>#{{ specialty }}</div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </label>
                <input
                  type="radio"
                  name="lawyer"
                  id="lawyer_{{ lawyer.id }}"
                  value="{{ lawyer.id }}"
                />
                <div class="check_lawyer_box"></div>
                <div class="lawyer_info_icon">
                  <a href="https://naver.com" target="_blank">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info-circle" class="svg-inline--fa fa-info-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#4263eb" d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"></path></svg>
                  </a>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </form>
      <div class="step_button">
        <a id="prev" href="{% url "helpline:report_detail" report.pk %}">취소</a>
        <a id="next" onclick="submit()">확인</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block script_bottom %}
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
  <script type="text/javascript">
  var flag = false, lawyerPage = 1;

  function changeLawyerPage(direction) {
    if (direction === "initial") {
      flag = false;
      lawyerPage = 1;
    }
    else if (direction === "plus") {
      if ("{{ lawyer_count }}" <= 5) return;
      if (!flag) lawyerPage += 1;
    }
    else if (direction === "minus") {
      if (lawyerPage <= 1) lawyerPage = 1;
      else {
        lawyerPage -= 1;
        flag = false;
      }
    }

    $.ajax({
      url: "{% url 'helpline:report_lawyer_list' %}",
      data: {
        page: lawyerPage,
        search_lawyer: document.querySelector("input[name='search_lawyer']").value
      },
      datatype: "json",
      success: function(data) {
        if (lawyerPage >= data.page_count) flag = true;

        let container = document.querySelector("#lawyer_list");
        let result = "";
        data['lawyers'].forEach(el => {
          let specialityList = "";
          el['speciality'].forEach(speciality => {
            specialityList += `<div>#${ speciality.name }</div>`
          });
          result += `
            <div class="lawyer_item" id="${el.id}">
              <label for="lawyer_${el.id}">
                <div class="lawyer_detail">
                  <div class="lawyer_profile">
                    <img src="${ el.image }" />
                  </div>
                  <div>
                    <h1>${ el.name } 변호사</h1>
                    <p>${ el.introduce }</p>
                    <div class="lawyer_fields">
                      ${ specialityList }
                    </div>
                  </div>
                </div>
              </label>
              <input
                type="radio"
                name="lawyer"
                id="lawyer_${ el.id }"
                value="${ el.id }"
              />
              <div class="check_lawyer_box"></div>
              <div class="lawyer_info_icon">
                <a href="https://naver.com" target="_blank">
                  <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info-circle" class="svg-inline--fa fa-info-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#4263eb" d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"></path></svg>
                </a>
              </div>
            </div>
          `;
        });
        container.innerHTML = result;
      },
      error: function(data) {
        console.log(data.status);
      }
    });
  }
  </script>
  <script>
    function submit() {
      document.getElementById('declare_form').submit()
    }
  </script>
{% endblock %}