{% extends 'core/layout.html' %} {% load static %} {% block style %}
<link
  rel="stylesheet"
  href="{% static 'lawyerAccount/css/change_password_page.css' %}"
  type="text/css"
/>
{% endblock %} {% block content %}
<div id="content">
  <div class="container">
    <div class="password_box">
      <div>
        <div class="exp1">비밀번호 변경</div>
        <div class="exp2">기존 비밀번호와 새로운 비밀번호를 입력하세요.</div>
      </div>
      <form id="change_password_form" method="POST" action="">
        {% csrf_token %}
        <div class="change_password_input">
          <div class="password_input_div">
            <div class="form_label">기존 비밀번호</div>
            <input
              class="password_input"
              type="password"
              id="origin_password"
              name="origin_password"
            />
          </div>
          <div class="password_input_div">
            <div class="form_label">새 비밀번호</div>
            <input
              class="password_input"
              type="password"
              id="new_password"
              name="new_password"
            />
          </div>
          <div class="check_password_input_div">
            <div class="form_label">새 비밀번호 확인</div>
            <input
              class="password_input"
              type="password"
              id="new_password_check"
              name="new_password_check"
            />
          </div>
        </div>
        <input id="change_password_button" type="submit" value="바꾸기" />
      </form>
      <div class="error_message">{{ error }}</div>
    </div>
  </div>
</div>
{% endblock %}
