{% extends 'core/layout.html' %} {% load static %} {% block style %}
<link
  rel="stylesheet"
  href="{% static 'lawyerAccount/css/find_password_page.css' %}"
  type="text/css"
/>
{% endblock %} {% block content %}
<div id="content">
  <div class="container">
    <div class="login_box">
      <div>
        <div class="exp1">패스워드 찾기</div>
        <div class="exp2">회원가입 시 작성했던 이메일을 입력해주세요.</div>
      </div>
      <form id="find_password_form" method="POST" action="">
        {% csrf_token %}
        <div class="find_password_input">
          <div class="find_password_div">
            <div class="form_label">이메일</div>
            <input id="find_password" type="email" name="email" required />
          </div>
        </div>
        <input id="find_password_button" type="submit" value="보내기" />
      </form>

      {% if find_check %}
      <div class="message">{{ message }}</div>
      {% else %} {% endif %}
    </div>

    <div class="login_footer">
      <div class="find_account">
        <img
          src="{% static 'lawyerAccount/images/find_account_image.png' %}"
          alt=""
        />
        <div class="find_account_comment">
          아이디를 잊어버리셨나요?
        </div>
        <div>
          <a
            class="find_account_button"
            href="{% url 'lawyerAccount:find_id' %}"
            >아이디 찾기</a
          >
        </div>
      </div>
      <div class="sign_up">
        <img
          src="{% static 'lawyerAccount/images/sign_up_image.png' %}"
          alt=""
        />
        <div class="sign_up_comment">
          회원이 아니신가요?
        </div>
        <a class="sign_up_button" href="{% url 'lawyerAccount:signup' %}"
          >회원가입</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
